%h1.display-4 Admin Dashboard

%h3 Things to implement:
%ul
  %li Organization Approval
  %li Campaign Approval
  %li Status Updates
  %li Organization/Campaign Overview - including is_featured/is_active toggles
  %li Payment Overview
  %li Short Questions


=link_to "Database", rails_admin_path
