.form-group.row
  =f.label :name, "Campaign Name", :class => "col-sm-2 col-form-label"
  .col-sm-10
    =f.text_field :name, :required => true, :class => "form-control"

.form-group.row
  =f.label :description, "Description", :class => "col-sm-2 col-form-label"
  .col-sm-10
    =f.text_area :description, size: "100x3", :class => "form-control"

.form-group.row
  =f.label :goal, "Funding Goal", :class => "col-sm-2 col-form-label"
  .col-sm-10
    =f.number_field :goal, :class => "form-control"

.form-group.row
  =f.label :image, "Image", :class => "col-sm-2 col-form-label"
  .col-sm-10
    =f.file_field :image, accept: "image/png,image/gif,image/jpeg", :class => "form-control-file"

.form-group.row
  =f.label :start_date, "Expected Start Date", :class => "col-sm-2 col-form-label"
  .col-sm-10
    =f.date_field :start_date, :class => "form-control"
