%h3.header Edit campaign proposal

=form_for @campaign, :multipart => true, :method => :patch do |f|
.form-group
  =f.label :name, "Campaign Name"
  =f.text_field :name, :required => true, :class=>"form-control"

.form-group
  =f.label :description, "Description"
  =f.text_field :description

.form-group
  =f.label :goal, "Funding Goal"
  =f.number_field :goal, step: 100

.form-group
  =f.label :image, "Image"
  =f.file_field :image, accept: "image/png,image/gif,image/jpeg"

.form-group
  =f.label :start_date, "Expected start date for campaign"
  =f.date_field :start_date

=f.submit "Submit Update", :class=>"btn btn-primary"
