%h3.header Create a new campaign proposal

=form_for @campaign, :multipart => true, :method => :post do |f|
  =render 'form', f: f

  =f.hidden_field :organization_id, value: current_user.organization.id
  =f.hidden_field :campaign_id, value: @campaign.campaign_id
  =f.hidden_field :action, value: @campaign.action

  =f.submit "Submit", :class => "btn btn-primary"
  =link_to "Cancel", organization_path(@campaign.organization), :class => "btn btn-secondary"
