.row
  .col-lg-8.col-sm-12
    .card.mb-4
      =image_tag @campaign.image.url(:large), :class => "card-img-top img-fluid"
      .card-body
        -if @belongs_to_current_user
          .float-right
            =link_to octicon('pencil') + "  Edit", edit_campaign_change_path(@campaign), :class => "btn btn-light btn-sm mt-2"
            =link_to octicon('trashcan') + "  Delete", campaign_change_path(@campaign), :method => :delete, :class => "btn btn-light btn-sm mt-2"
        %h3
          =@campaign.name
          -if @campaign.action == "DELETE"
            .badge.badge-pill.badge-warning.align-top.ml-2
              Pending Deletion
        %hr
        %p.card-text= @campaign.description
        %hr
        %p= octicon('calendar') + "  Start date: " + @campaign.start_date

.row
  .col-md-2= link_to('Approve campaign', approve_campaign_change_path(@campaign))
  .col-md-2= link_to('Back to campaign list', campaigns_path)
