%p= "Congratulations! Your organization #{@organization.name} has been approved. You have now been enabled to create campaigns."
=link_to "Check it out here.", organization_url(@organization.id)
%p -Madison County Gives
