%h3 Billing Information
=form_tag @touchnet_url, id: "checkout_form", method: "post" do
  =hidden_field_tag :UPAY_SITE_ID, @site_id
  =hidden_field_tag :AMT, @total
  =hidden_field_tag :cart, @encoded_cart
  =hidden_field_tag :SUCCESS_LINK, clear_cart_url
  .form-group.row
    =label :BILL_NAME, "Full name", :class => "col-sm-2 col-form-label"
    .col-sm-10
      =text_field_tag :BILL_NAME, nil, :class => "form-control"

  .form-group.row
    =label :BILL_EMAIL_ADDRESS, "Email Address", :class => "col-sm-2 col-form-label"
    .col-sm-10
      =text_field_tag :BILL_EMAIL_ADDRESS, nil, :class => "form-control"

  .form-group.row
    =label :BILL_STREET1, "Street Address 1", :class => "col-sm-2 col-form-label"
    .col-sm-10
      =text_field_tag :BILL_STREET1, nil, :class => "form-control"

  .form-group.row
    =label :BILL_STREET2, "Street Address 2", :class => "col-sm-2 col-form-label"
    .col-sm-10
      =text_field_tag :BILL_STREET2, nil, :class => "form-control"

  .form-group.row
    =label :BILL_CITY, "City", :class => "col-sm-2 col-form-label"
    .col-sm-10
      =text_field_tag :BILL_CITY, nil, :class => "form-control"

  .form-group.row
    =label :BILL_STATE, "State", :class => "col-sm-2 col-form-label"
    .col-sm-10
      =select_tag :BILL_STATE, options_for_select(["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"], "NY"), :class => "form-control"

  .form-group.row
    =label :BILL_POSTAL_CODE, "Postal Code", :class => "col-sm-2 col-form-label"
    .col-sm-10
      =number_field_tag :BILL_POSTAL_CODE, nil, :class => "form-control"

  .field
    %p Amount: $#{@total}
  .field
    =label :anon, "Anonymous donation?"
    =check_box_tag :anon
    .text-muted Selecting anonymous means that your name will not appear on our main donate feed. You may also choose to leave any of the fields above blank.

  %p
  .field
    =submit_tag "Proceed to payment"


  =link_to "back to summary", :back
  %br
  =link_to "back to main page", root_path
