%h3 Updating Homepage
-if params[:amt_to_cart] == nil
    =form_tag root_path, id: "processing_form", method: "get" do
        =hidden_field_tag :posting_key, :posting_key
        =hidden_field_tag 
        =submit_tag "", style="visibility: hidden;"
