.row
  .col-sm-12.text-center.bootstrap-welcome

-if @empty == 0
  -t = 0
  %table.summary 
    %thead{:class => "heading"} Donation Cart
    %tr
    %th.header Name
    %th.header Amount
    -@names_val.each do |name, amt|
      %tr
        %td.val #{name}
        %td.val #{amt}
      -t = t + amt.to_i
  %br
  %strong.header Total: #{t}
  %br
  =link_to "proceed to checkout", controller: "home", action: "checkout"
-else
  %h3 You have not made any contributions yet :(

%p
=link_to "back to main page", root_path
    