=image_tag "logo.jpg", :class => "mb-4"

%h2.mb-4 About Us

%p Madison County Gives is an online giving site powered by the Konosioni Senior Honor Society at Colgate University. This crowdfunding site connects not-for-profit organizations that provide services to residents of Madison County with students and community members who want to help through web-based fundraising campaigns. Users of Madison County Gives can turn to the site to learn more about the important work that is being done in Madison County and to provide funding for that work.

%p The projects featured on this site are providing services to residents of our county in the areas of education, the environment, human well being, community vitality or culture. The featured organizations have applied to the Konosioni Senior Honor Society at Colgate University to start a campaign on Madison County Gives and have identified a financial goal that will provide adequate support for the continuation of these services in the coming year.

%p Through Madison County Gives, Konosioni is also investing its own money to support the work that these organizations do in our community, and invite you to join in! Your gift, no matter the size, will make an impact. You can use this site to track the progress of each campaign throughout the year and see how your investment combined with others to make a difference for these organizations and the people they serve.

%p
  Check out these
  =link_to("Success Stories!", organizations_path)
