%h2.mb-4 Contact Us

%p.text-muted Madison County Gives is powered by the Konosioni Senior Honor Society at Colgate University and supported by the Upstate Institute at Colgate University

%strong Website
%p
  =link_to "http://www.colgatekono.com/"

%strong Email
%p
  =link_to "madisoncountygives@gmail.com", "mailto:madisoncountygives@gmail.com"

%strong Phone
%p 315-228-5473

%strong Address
%p Upstate Institute at Colgate University<br>109 Lathrop Hall<br>13 Oak Drive<br>Hamilton, New York 13346
