%h2.mb-4 Frequently Asked Questions

%p Madison County Gives is an online funding tool for our community. The site, which is created and supported by Colgate’s Konosioni Senior Honor Society with assistance from the Upstate Institute at Colgate University, provides a way for students and community members to support projects that are providing services to residents of Madison County, New York. This tool allows not-for-profit organizations in our community to work with Konosioni to attract support from citizen philanthropists who understand the value of contributing $5, $10, $20—any amount— to a worthy cause.

%strong How does it work?
%p The website is free for all to use. There’s no fee associated with donating money through the site. All donations made through the site will go to the Konosioni Senior Honor Society at Colgate University. At the end of the campaign, Konosioni will grant 100% of the funds raised through the site directly to the not for profit organization that received the donation.

%strong Who can apply to start a campaign on Madison County Gives?
%p Local not-for-profit organizations (those with a 501(c)3 designation) that provide some kind of benefit to any residents of the region may apply to begin a campaign on Madison County Gives. Konosioni will solicit applications from interested organizations every summer. Members of Konosioni will select not-for-profit organizations to include on the site, and will work with those organizations to create a campaign.

%strong Does Konosioni fund campaigns too?
%p Yes. The Konosioni Senior Honor Society has invested over $30,000 in local organizations this year alone. Each year, the students in Konosioni will decide how to allocate their funds, and make contributions  to campaigns through the site based on those allocation decisions. All campaigns on the site will show how much money was given to the organization by Konosioni at the start.

%strong How long do campaigns last?
%p Campaigns that have been created by the Konosioni Class of 2017 have “gone live” in December of 2016 and will last until November 30, 2017. The Konosioni Class of 2018 will begin to collect applications from organizations for their allocation process in the summer of 2017, and the website will be “reset” with their campaigns on December 1, 2017.

%strong What happens if a campaign reaches its goal before November 30, 2017?
%p If a campaign reaches, or surpasses, its goal by this time, it will receive all funds raised through the site, including any allocated  by Konosioni. The campaign will be moved to a section of the website called “Success Stories” and the video will continue to be accessible. In that way, information about the work the organization is doing in the community will always be accessible even after the campaign has closed.

%strong What happens if a campaign doesn’t reach its goal by then?
%p We won’t mandate that an organization reaches its goal in order to receive funding. The organization will still receive 100% of the funds raised through the site, including any allocated by Konosioni.

%strong I still have questions? Whom should I ask?
%p Contact Julie Dudrick at the Upstate Institute at 315-228-5473 or jdudrick@colgate.edu who can answer questions about Madison County Gives and on behalf of Konosioni.
