@import "bootstrap";

.white-icon {
  fill: #ffffff;
}

.card-set {
  display: flex; // ensure same height for each campaign card
}

.card-img {
  max-height: 230px;
}

.fixed-position {
  position: sticky;
  top: 80px;
}
