/*
 *= require social-share-button
*/

@import "bootstrap";

.white-icon { // octicon comes in black in default
  fill: #ffffff;
}

.card-set {
  display: flex; // ensure same height for each campaign card
}

.card-img {
  max-height: 230px;
}

.fixed-position {
  position: sticky;
  top: 80px;
}

// --- for share icons on campaign page ---

$size: 24px;
.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
    margin: 0 5% 0 0;
  }
}

// --- for the "featured" ribbon on campaign card ---

.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 200px; height: 200px;
  text-align: right;
}
.ribbon span {
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #9BC90D 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #9BC90D;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #9BC90D;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #9BC90D;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #9BC90D;
}

// --- carousel/slideshow on the main page

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transparent{
  background:rgba(255,255,255,0.5);
}
