// Place all the styles related to the Payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
   background-color: #666;
}

.header{
   padding: 10px;
   float: left;
}

.title_name, .title_amt{
   letter-spacing: -0.015em;
   font-size: .75em;
   padding: 5px, 5px, 5px, 10px;
   float: left;
}
