.field
  =f.label :name, "Organization Name"
  =f.text_field :name

.field
  =f.label :description, "Description"
  =f.text_area :description

.field
  =f.label :primary_contact, "Primary Contact"
  =f.text_field :primary_contact

.field
  =f.label :address, "Address"
  =f.text_field :address

.field
  =f.label :email, "Email Address"
  =f.text_field :email

.field
  =f.label :image, "Image"
  =f.file_field :image, accept: "image/png,image/gif,image/jpeg"

-@organization.short_responses.each do |response|
  .field
    -id = "short_response#{response.short_question.id}"
    =f.label id.to_sym, "#{response.short_question.question}"
    =f.text_area id.to_sym, :value => "#{response.response}", size:"100x5"
