!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title Madison County Gives
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-expand-sm.navbar-dark.sticky-top.bg-dark
      =link_to "Madison County Gives", root_url, :class => "navbar-brand"
      %button{ :class => "navbar-toggler", :type => "button", "data-toggle" => "collapse", "data-target" => "#navbarNavDropdown", "aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation" }
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarNavDropdown
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            =link_to "Home", root_url, :class => "nav-link"
          %li.nav-item.dropdown
            =link_to "About", "#", :class => "nav-link dropdown-toggle", :id => "navbarDropdownMenuLink", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"
            %div{ class: "dropdown-menu", "aria-labelledby": "navbarDropdownMenuLink" }
              =link_to "About Us", "#", :class => "dropdown-item"
              =link_to "Colgate University", "#", :class => "dropdown-item"
              =link_to "FAQ", "#", :class => "dropdown-item"
              =link_to "Contact", "#", :class => "dropdown-item"
        %ul.navbar-nav
          - if user_signed_in?
            - if current_user.organization.nil?
              %li.nav-item.dropdown.active
                =link_to octicon("person", :class => "white-icon") + "  Unknown Organization", "#", :class => "nav-link dropdown-toggle", :id => "navbarDropdownUserLink", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"
                %div{ class: "dropdown-menu dropdown-menu-right", "aria-labelledby": "navbarDropdownUserLink" }
                  =link_to octicon("organization") + "  My Organization", new_organization_path, :class => "dropdown-item"
                  .dropdown-divider
                  =link_to octicon("sign-out") + '  Logout', destroy_user_session_path, :method => :delete, :class => "dropdown-item"
            - else
              %li.nav-item.dropdown.active
                =link_to octicon("person", :class => "white-icon") + "  #{current_user.organization.name}", "#", :class => "nav-link dropdown-toggle", :id => "navbarDropdownUserLink", "data-toggle" => "dropdown", "aria-haspopup" => "true", "aria-expanded" => "false"
                %div{ class: "dropdown-menu dropdown-menu-right", "aria-labelledby": "navbarDropdownUserLink" }
                  =link_to octicon("organization") + "  My Organization", organization_path(current_user.organization), :class => "dropdown-item"
                  =link_to octicon("pencil") + "  Edit My Profile", edit_organization_path(current_user.organization), :class => "dropdown-item"
                  .dropdown-divider
                  =link_to octicon("sign-out") + '  Logout', destroy_user_session_path, :method => :delete, :class => "dropdown-item"

          - else
            %li.nav-item.active
              =link_to octicon("sign-in", :class => "white-icon") + '  Organization Login', new_user_session_path, :class => "nav-link"
          %li.nav-item.active
            =link_to embedded_svg("cart.svg", :class => "white-icon", :width => 16, :height => 16) + '  Cart', "summary", :class => "nav-link"
    %main.container
      %br
      =flash_messages
      =yield
